<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <div>
        <h1>Solicita reservar</h1>
        <br>
      <div
          style="border: 1px solid rgb(221, 221, 221); border-radius: 12px; padding: 24px; display: flex; flex-direction: column; align-items: center; position: relative;"
        >

          <div style="width: 100%; text-align: left;">
            <p style="margin: 0;">¡Qué suerte!</p>
            <p style="margin: 0; margin-top: 8px;">
              El alojamiento de Annie por lo general está reservado
            </p>
          </div>


          <div
            style="position: absolute; top: 50%; right: 24px; transform: translateY(-50%);"
          >
            <i
              class="fa-solid fa-heart"
              style="color: #FF5A5F; font-size: 24px;"
            ></i>
          </div>
        </div>
      </div>
       <br>
        <br>

        <div class="text-center mb-4">
          <%= image_tag 'image1.webp', alt: 'Imagen de la habitación', class: 'img-fluid rounded-3 w-50 rounded-custom' %>
        </div>
      <br>
      <h3>Tu viaje</h3>
      <br>
      <div class="container">
        <p><strong>Habitación:</strong> <%= @booking.room.name %></p>
        <p>
          <strong>Fecha de inicio:</strong> <%=
            @booking.date_start.strftime('%d/%m/%Y')
          %>
        </p>
        <p>
          <strong>Fecha de fin:</strong> <%=
            @booking.date_finish.strftime('%d/%m/%Y')
          %>
        </p>

        <div class="d-flex justify-content-between align-items-center mt-4">
          <%#= link_to 'Editar', edit_booking_path(@booking), class: "btn btn-warning" %>
          <%#=
            link_to 'Eliminar',
                    booking_path(@booking),
                    class: 'btn btn-primary',
                    data: {
                      turbo_method: :delete,
                      turbo_confirm: '¿Estás seguro?',
                    }
          %>
        </div>


        <div class="container-half mx-auto mt-4">
          <h3>Elige cómo quieres pagar</h3>
          <div class="option-container">
            <br>
            <div class="option" style="border: 1px solid rgb(221, 221, 221); border-radius: 12px; padding: 24px; display: flex; justify-content: space-between; align-items: center;">
              <span>Paga S/.1798.00 ahora</span>
              <label class="checkbox-label">
                <input type="checkbox" />
              </label>
            </div>
            <br>
            <div class="option" style="border: 1px solid rgb(221, 221, 221); border-radius: 12px; padding: 24px; display: flex; justify-content: space-between; align-items: center;">
              <span>Paga una parte ahora y otra más adelante</span>
              <label class="checkbox-label">
                <input type="checkbox" />
              </label>
            </div>


            <div class="text-center mt-4">
              <button type="button" id="myButton" class="btn btn-primary mb-5" >Reservar</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="container-fluid mt-5">
        <div class="row justify-content-center">
          <div class="col-md-5">
            <div class="card shadow-sm p-4" style="width:390px">
              <div class="card-body">
                <h1 class="text-center mb-4">
                  <%=
                    @booking.new_record? ? 'S/.292 noche' : 'Editar Reserva'
                  %>
                </h1>

                <%= simple_form_for([@room, @booking], html: { class: "form-horizontal" }) do |f| %>
                  <div class="form-group mb-3">
                    <%=
                      f.input :date_start,
                              label: 'Llegada',
                              input_html: {
                                class: 'form-control',
                                type: 'date',
                              }, html5: true
                    %>
                  </div>

                  <div class="form-group mb-3">
                    <%=
                      f.input :date_finish,
                              label: 'Salida',
                              input_html: {
                                class: 'form-control',
                                type: 'date',
                              }, html5: true
                    %>
                  </div>
                  <br>
                  <div class="form-group text-center mb-3">
                    <%=
                      f.submit(
                        @booking.new_record? ? 'Reserva' : 'Actualizar Reserva',
                        class: 'btn btn-primary',
                      )
                    %>
                  </div>
                  <br>
                  <div class="mb-3">

                    <div class="row">
                      <div class="col-6 text-left">
                        <p>S/292 x 5 noches</p>
                      </div>
                      <div class="col-6 text-right">
                        <p>S/1,461</p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-6 text-left">
                        <p>Tarifa de limpieza</p>
                      </div>
                      <div class="col-6 text-right">
                        <p>S/84</p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-6 text-left">
                        <p>Tarifa por servicio de Airbnb</p>
                      </div>
                      <div class="col-6 text-right">
                        <p>S/83</p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-6 text-left">
                        <p>Total sin incluir impuestos</p>
                      </div>
                      <div class="col-6 text-right">
                        <p>S/1,798</p>
                      </div>
                      <br>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
