<!DOCTYPE html>
<html>
  <head>
    <title>RailsAirbnbClone</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div>
      <%= render 'shared/navbar' %>
      <div class="mt-5 mx-5">
      <%= render 'shared/flashes' %>
      <%= yield %>
      </div>
    </div>

    <script>
      document.getElementById('myButton').addEventListener('click', function() {
        Swal.fire({
          title: 'Reservado con exito!',
          text: 'seras redireccionado a la pagina principal',
          icon: 'success'
        });
      });
    </script>
  </body>
</html>
